* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

.header{
  background-color: aqua;
  p{
    color: blueviolet;
  }
  .child{
    background-color: coral;
    p {
      color: brown;
    }
  }
}
img {
  width: 100%;
}
