.table_head {
  display: flex;
}
.table_head > *{
  width: 200px;
}

.table_head > *:not(:last-child){
  border-right: 1px solid black;

}

.tableTitle{
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}