.tableText{
  display: flex;

}

.tableText > *{
  width: 200px;
  padding: 5px 10px;
  font-size: 17px;
  border-top: 1px solid black;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
}
.tableText > *:not(:last-child) {
  border-right: 1px solid black;

}

.deleteMember{
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.3s ease;
  &:hover {
    background-color: #d25858;
    color: white;
  }
}

.switchRoles{
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 17px;
  transition: all 0.3s ease;
  &:hover {
    background-color: orange;
    color: white;
  }
}